<div class="container">
    <div class="row">
        {{> scrape}}
        {{> saved}}
        <div class="col s4">
            note
        </div>
    </div>
    {{> scrapedData}}
    {{> savedData}}
</div>